@import url('~/platform.css');

Page {
    font-size: 16;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.action-bar {
    color:black;
    background-color:rgba(7, 97, 42, 0.747);
 }
.Stack{
    background-color: rgba(4, 97, 40, 0.747);
}

.l1 {
    margin-left: 8cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19;
    margin-top: 12;
    color: rgba(255,255,255);
    text-align: center;
}

Label {
    margin-left: 8cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19;
    margin-top: 12;
    color: rgba(7, 97, 42, 0.747);
}
Button {
    margin-left: 2CM;
    background-color: rgba(137, 231, 173, 0.781);
    color:rgb(255,255,255);
}


.bt1{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(3, 46, 20, 0.781);
}

.Ratings{
    margin-top: 5cm;
    font-size: 21;
    width: 50cm;
    color: rgba(221, 1, 1, 0.747);
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic;
    
}

.id{
    margin-top: 7cm;
    font-size: 21;
    width: 17cm;
    color: rgba(13, 155, 100, 0.747);
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic;
    
}

.Location{
    margin-top: 10cm;
    font-size: 16;
    width: 100cm;
    color: rgba(119, 137, 216, 0.952);
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic;
    
}


.beerName {
    font-style: initial;
    font-style: inherit;
    margin-top: 5cm;
    width: 130cm;
    font-size: 25;
    color: rgba(7, 97, 42, 0.747);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  }

  .description{
      margin-top: 5cm;
      color: darkgray;
      font-size: 16;
  }
