@import url('~/platform.css');

Page {
    font-size: 17;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.action-bar {
    color:black;
    background-color:rgba(7, 97, 42, 0.747);
 }
.Stack{
    background-color: rgba(10, 128, 55, 0.356);
}
Label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25;
    margin-top: 10;
    color: rgba(7, 97, 42, 0.747);
}
Button {
    background-color: rgba(10, 128, 55, 0.356);
    color: whitesmoke;
}
